<?xml version="1.0" encoding="utf-8" standalone="no"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" id="com.coolappz.Autobetes" version="1.0.0">
    <name>Autobetes</name>
    <description>Cordova Application</description>
    <author email="info@com.coolappz" href="http://www.coolappz.com">dionkoolhaas</author>
    <access origin="*"/>
    
    <preference name="webviewbounce" value="true"/>
    <feature name="Notification">
        <param name="wp-package" value="Notification"/>
    </feature>
    
    <preference name="StatusBarOverlaysWebView" value="false" />
    
	
</widget>
