<?xml version="1.0" encoding="utf-8" standalone="no"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" id="autobetes.com" version="1.0.0">
	<icon src="img/icon.png" />
    <name>Autobetes</name>
    <description>Autobetes app</description>
    <author email="info@diadvies.nl" href="http://www.autobetes.com">dionkoolhaas</author>
    <access origin="*"/>
    
    <preference name="webviewbounce" value="true"/>
    <feature name="Notification">
        <param name="wp-package" value="Notification"/>
    </feature>
    
	
	<preference name="StatusBarBackgroundColor" value="#000000" />
	<preference name="StatusBarStyle" value="blacktranslucent" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    
	
</widget>
