/* change font size header */
/*#home-page .ui-header h1 {
  font-size: 1.3em;
}
*/
/* background */
#background{ 
	position: fixed; 
	top: 0; 
	left: 0; 
	width: 100% !important; 
	height: 100% !important; 
	
	-webkit-background-size: cover; 
	-moz-background-size: cover; 
	-o-background-size: cover; 
	background-size: cover; 
	z-index: -1; 
	opacity : 0.4;
} 

.ui-page{ 
	background:none; 
}



.biggerButton { padding: 4px !important;}

/* Left transition */
li.left {
    -webkit-transition: -webkit-transform 250ms ease;
    -webkit-transform: translateX(-100%);
    -moz-transition: -moz-transform 250ms ease;
    -moz-transform: translateX(-100%);
    -o-transition: -o-transform 250ms ease;
    -o-transform: translateX(-100%);
    transition: transform 250ms ease;
    transform: translateX(-100%);
}
/* Right transition */
li.right {
    -webkit-transition: -webkit-transform 250ms ease;
    -webkit-transform: translateX(100%);
    -moz-transition: -moz-transform 250ms ease;
    -moz-transform: translateX(100%);
    -o-transition: -o-transform 250ms ease;
    -o-transform: translateX(100%);
    transition: transform 250ms ease;
    transform: translateX(100%);
}
/* Border bottom for the previous button during the transition*/
li.left a.ui-btn,
li.right a.ui-btn {
    border-top-width: 0;
    border-left-width: 1px;
    border-right-width: 1px;
}
li a.ui-btn.border-bottom {
    border-bottom-width: 1px;
}
/* Hide the delete button on touch devices */
ul.touch li.ui-li-has-alt a.delete {
    display: none;
}
ul.touch li.ui-li-has-alt a.ui-btn {
    margin-right:0;
}
/* Styling for the popup */
#confirm p {
    text-align: center;
    font-size: inherit;
    margin-bottom: .75em;
}

.ui-icon-stop{
	background: url('images/stopSign.png')no-repeat;   
    box-shadow: none;
    -webkit-box-shadow: none;
    margin: 0 !important;
    align: center;
    background-position: center center;
    background-size: 18px 18px;
}

/*.ui-icon-autobetes-settings {
    background: url("glyphicons/png/glyphicons_439_wrench.png") no-repeat;
    background-position: center center;
}
*/

.ui-icon-autobetes-feedback {
    background: url("glyphicons/png/glyphicons_245_chat.png") no-repeat;
    box-shadow: none;
    -webkit-box-shadow: none;
	background-position-x: 50%;
	background-position-y: 50%;
    background-size: 65%;
}

.ui-icon-autobetes-settings {
    background: url("glyphicons/png/glyphicons_280_settings.png") no-repeat;
    box-shadow: none;
    -webkit-box-shadow: none;
	background-position-x: 50%;
	background-position-y: 50%;
    background-size: 65%;
}

.ui-icon-autobetes-back {
    background: url("glyphicons/png/glyphicons_210_left_arrow.png") no-repeat;
    box-shadow: none;
    -webkit-box-shadow: none;
	background-position-x: 50%;
	background-position-y: 50%;
    background-size: 65%;
}

.ui-icon-autobetes-edit {
    background: url("glyphicons/png/glyphicons_150_edit.png") no-repeat;
    box-shadow: none;
    -webkit-box-shadow: none;
	background-position-x: 50%;
	background-position-y: 50%;
    background-size: 65%;
}

.ui-icon-autobetes-fork {
    background: url("images/1416417254_fork.png") no-repeat;
    box-shadow: none;
    -webkit-box-shadow: none;
	background-position-x: 18px;
	background-position-y: 50%;
    background-size: 28px 28px;
}


.ui-icon-autobetes-run {
    background: url("images/1416417029_running_man-512.png") no-repeat;
    box-shadow: none;
    -webkit-box-shadow: none;
	background-position-x: -4px;
	background-position-y: 50%;
    background-size: 70px 70px;
}

.ui-icon-autobetes-special {
    background: url("images/thunderbolt1.png") no-repeat;
    box-shadow: none;
    -webkit-box-shadow: none;
	background-position-x: 17px;
	background-position-y: 50%;
    background-size: 28px 28px;
}

.ui-icon-autobetes-history {
    background: url("glyphicons/png/glyphicons_057_history.png") no-repeat;
    box-shadow: none;
    -webkit-box-shadow: none;
	background-position-x: 15px;
	background-position-y: 50%;
    background-size: 28px 28px;
}

.ui-icon-autobetes-feedback:after,
.ui-icon-autobetes-settings:after,
.ui-icon-autobetes-back:after,
.ui-icon-autobetes-edit:after,
.ui-icon-autobetes-fork:after,
.ui-icon-autobetes-run:after,
.ui-icon-autobetes-special:after,
.ui-icon-autobetes-history:after
{
	background-color: transparent /*{global-icon-color}*/;
}
