/* change font size header */
/*#home-page .ui-header h1 {
  font-size: 1.3em;
}
*/
/* background */
.ui-checkbox{
	margin:0px;padding:0px;
}
.ui-table-columntoggle-btn{
	/*We do not want to have the columntoggle button at our tables*/
	display: none !important;
}

/* color help text*/
.phelp {
    color:#A4A4A4;
}
.grayColor{
	color: #A4A4A4;
}
.homeButtonText{
	position: relative; 
	bottom: -6.75px;
	font-size: 12.5px;	
}

.ui-header .ui-navbar .ui-btn{
	border-bottom-width: 1px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
}


#advice-table, 
#password-protection-div
{
    width: 100%;
    height: 100%;
   
}
#lock-icon-div{
	 position: relative;
	z-index: 2;
}
#advice-table{
	
}
#password-protection-dialog{
	width:100% !important;
	
}
/*
#password-protection-div{
	background-color: rgba(196,196,196,0.9);
	position: absolute;
	z-index:3;
    height: 30%;
    top: 25%;
    width:100%;
    
}
#password-protection-fields{
	margin:20px;
	z-index:4;
	left: 20%;
	postion:relative;
}
*/
#lock-icon{
	width:80%;
	position: relative;
	max-height: 400px;
}
th {
    border-bottom: 1px solid #d6d6d6;
}
#background{ 
	position: fixed; 
	top: 0; 
	left: 0; 
	width: 100% !important; 
	height: 100% !important; 
	
	-webkit-background-size: cover; 
	-moz-background-size: cover; 
	-o-background-size: cover; 
	background-size: cover; 
	z-index: -1; 
	opacity : 0.4;
} 
div.ui-slider-switch{
	position: absolute;
	right: 10px;
	width: 100px;
}
.define-event-page-table{
	border:0px;
	margin:0px;
	padding:0px;
}

.ui-page{ 
	background:none; 
}

.boldAndOrange{
	font-weight: bold; color: #f89406;
}

.custom{
	font-size: 9pt; 
	font-weight: bold; 
	line-height: 120%;
}
.biggerButton { padding: 4px !important;}

/* Left transition */
li.left {
    -webkit-transition: -webkit-transform 250ms ease;
    -webkit-transform: translateX(-100%);
    -moz-transition: -moz-transform 250ms ease;
    -moz-transform: translateX(-100%);
    -o-transition: -o-transform 250ms ease;
    -o-transform: translateX(-100%);
    transition: transform 250ms ease;
    transform: translateX(-100%);
}
/* Right transition */
li.right {
    -webkit-transition: -webkit-transform 250ms ease;
    -webkit-transform: translateX(100%);
    -moz-transition: -moz-transform 250ms ease;
    -moz-transform: translateX(100%);
    -o-transition: -o-transform 250ms ease;
    -o-transform: translateX(100%);
    transition: transform 250ms ease;
    transform: translateX(100%);
}
/* Border bottom for the previous button during the transition*/
li.left a.ui-btn,
li.right a.ui-btn {
    border-top-width: 0;
    border-left-width: 1px;
    border-right-width: 1px;
}
li a.ui-btn.border-bottom {
    border-bottom-width: 1px;
}
/* Hide the delete button on touch devices */
ul.touch li.ui-li-has-alt a.delete {
    display: none;
}
ul.touch li.ui-li-has-alt a.ui-btn {
    margin-right:0;
}
/* Styling for the popup */
#confirm p {
    text-align: center;
    font-size: inherit;
    margin-bottom: .75em;
}

.ui-icon-stop{
	background: url('images/stopSign.png')no-repeat;   
    box-shadow: none;
    -webkit-box-shadow: none;
    margin: 0 !important;
    align: center;
    background-position: center center;
    background-size: 18px 18px;
}

/*.ui-icon-autobetes-settings {
    background: url("glyphicons/png/glyphicons_439_wrench.png") no-repeat;
    background-position: center center;
}
*/

/*
.ui-icon-autobetes-settings {
    background: url("glyphicons/png/glyphicons_136_cogwheel.png") no-repeat;
    box-shadow: none;
    -webkit-box-shadow: none;
	background-position-x: 50%;
	background-position-y: 50%;
    background-size: 65%;
}
*/

.ui-icon-autobetes-synchronize {
    background: url("glyphicons/png/glyphicons_081_refresh.png") no-repeat;
    box-shadow: none;
    -webkit-box-shadow: none;
	background-position-x: 15px;
	background-position-y: 50%;
}

.ui-icon-autobetes-back {
    background: url("glyphicons/png/glyphicons_210_left_arrow.png") no-repeat;
    box-shadow: none;
    -webkit-box-shadow: none;
	background-position-x: 50%;
	background-position-y: 50%;
    background-size: 65%;
}

.ui-icon-autobetes-edit {
    background: url("glyphicons/png/glyphicons_150_edit.png") no-repeat;
    box-shadow: none;
    -webkit-box-shadow: none;
	background-position-x: 50%;
	background-position-y: 50%;
    background-size: 65%;
}

.ui-icon-autobetes-edit2 {
    background: url("glyphicons/png/glyphicons_150_edit.png") no-repeat;
    box-shadow: none;
    -webkit-box-shadow: none;
	background-position-x: 15px;
	background-position-y: 50%;
}

.ui-icon-autobetes-graph {
    background: url("images/autobetes_graph.png") no-repeat;
    box-shadow: none;
    -webkit-box-shadow: none;
	background-position-x: -4px;
	background-position-y: 50%;
    background-size: 70px 70px;
}

.ui-icon-autobetes-advice {
    background: url("glyphicons/png/icon-advice_bw.png") no-repeat;
    box-shadow: none;
    -webkit-box-shadow: none;
	background-position-x: 50%;
	background-position-y: 20%;
    background-size: 28px 28px;
}

.ui-icon-autobetes-advice-footer {
    background: url("glyphicons/png/icon-advice_bw.png") no-repeat;
    box-shadow: none;
    -webkit-box-shadow: none;
	background-position-x: 50%;
	background-position-y: 20%;
    background-size: 20px 20px;
}

.ui-icon-autobetes-fork {
    background: url("images/1416417254_fork.png") no-repeat;
    box-shadow: none;
    -webkit-box-shadow: none;
	background-position-x: 50%;
	background-position-y: 20%;
    background-size: 28px 28px;
}

.ui-icon-autobetes-run {
    background: url("images/1416417029_running_man-512.png") no-repeat;
    box-shadow: none;
    -webkit-box-shadow: none;
	background-position-x: -4px;
	background-position-y: 50%;
    background-size: 70px 70px;
}

.ui-icon-autobetes-special {
    background: url("images/event_icon.png") no-repeat;
    box-shadow: none;
    -webkit-box-shadow: none;
	background-position-x: 50%;
	background-position-y: 20%;
    background-size: 28px 28px;
}

.ui-icon-autobetes-history {
    background: url("glyphicons/png/glyphicons_057_history.png") no-repeat;
    box-shadow: none;
    -webkit-box-shadow: none;
	background-position-x: 50%;
	background-position-y: 10%;
    background-size: 28px 28px;
}
.ui-icon-autobetes-feedback {
    background: url("../img/feedback_bw.png") no-repeat;
    box-shadow: none;
    -webkit-box-shadow: none;
	background-position-x: 15px;
	background-position-y: 50%;
    background-size: 28px 28px;
}

.ui-icon-autobetes-logout {
    background: url("glyphicons/png/glyphicons_387_log_out.png") no-repeat;
    box-shadow: none;
    -webkit-box-shadow: none;
	background-position-x: 15px;
	background-position-y: 50%;
    background-size: 28px 28px;
}
.ui-icon-autobetes-logbook {
    background: url("glyphicons/png/logbook_autobetes.png") no-repeat;
    box-shadow: none;
    -webkit-box-shadow: none;
	background-position-x: 50%;
	background-position-y: 20%;
    background-size: 28px 28px;
}
.ui-icon-autobetes-home {
    background: url("glyphicons/png/glyphicons_020_home.png") no-repeat;
    box-shadow: none;
    -webkit-box-shadow: none;
	background-position-x: 50%;
	background-position-y: 10%;
    background-size: 20px 20px;
}
.ui-icon-autobetes-help {
    background: url("glyphicons/png/glyphicons_195_circle_info.png") no-repeat;
    box-shadow: none;
    -webkit-box-shadow: none;
	background-position-x: 50%;
	background-position-y: 10%;
    background-size: 20px 20px;
}
.ui-icon-autobetes-settings {
    background: url("glyphicons/png/glyphicons_136_cogwheel.png") no-repeat;
    box-shadow: none;
    -webkit-box-shadow: none;
	background-position-x: 50%;
	background-position-y: 10%;
    background-size: 20px 20px;
}
.ui-icon-autobetes-settings-top-button { /*Deze kan weg?*/
    background: url("glyphicons/png/glyphicons_136_cogwheel.png") no-repeat;
    box-shadow: none;
    -webkit-box-shadow: none;
	background-position-x: 50%;
	background-position-y: 20%;
    background-size: 28px 28px;
}
.ui-icon-autobetes-settings-header-button {
    background: url("glyphicons/png/glyphicons_136_cogwheel.png") no-repeat;
    box-shadow: none;
    -webkit-box-shadow: none;
	background-position-x: 50%;
	background-position-y: 50%;
    background-size: 28px 28px;
}
.ui-icon-autobetes-about {
    background: url("../img/autobetes_icon_bw.png") no-repeat;
    box-shadow: none;
    -webkit-box-shadow: none;
	background-position-x: 8px;
	background-position-y: 50%;
    background-size: 40px 40px;
}
.ui-icon-autobetes-bolus-calculator {
    background: url("../img/advice/bolus-calculator.png") no-repeat;
    box-shadow: none;
    -webkit-box-shadow: none;
	background-position-x: 15px;
	background-position-y: 50%;
    background-size: 25px 25px;
}
.ui-icon-autobetes-basal-insulin {
    background: url("../img/advice/basal.png") no-repeat;
    box-shadow: none;
    -webkit-box-shadow: none;
	background-position-x: 15px;
	background-position-y: 50%;
    background-size: 25px 25px;
}
.ui-icon-autobetes-insulin-sensitivity {
    background: url("../img/advice/sensitivity.png") no-repeat;
    box-shadow: none;
    -webkit-box-shadow: none;
	background-position-x: 15px;
	background-position-y: 50%;
    background-size: 25px 25px;
}
.ui-icon-autobetes-carb-ratio {
    background: url("../img/advice/carbs.png") no-repeat;
    box-shadow: none;
    -webkit-box-shadow: none;
	background-position-x: 15px;
	background-position-y: 50%;
    background-size: 25px 25px;
}
.ui-icon-autobetes-hba1c {
    background: url("../img/advice/hba1c.png") no-repeat;
    box-shadow: none;
    -webkit-box-shadow: none;
	background-position-x: 15px;
	background-position-y: 50%;
    background-size: 25px 25px;
}
.ui-icon-autobetes-autopilot {
    background: url("../img/advice/autopilot/autopilot.png") no-repeat;
    box-shadow: none;
    -webkit-box-shadow: none;
	background-position-x: 15px;
	background-position-y: 50%;
    background-size: 25px 25px;
}




.ui-icon-autobetes-logbook:after,
.ui-icon-autobetes-advice:after,
.ui-icon-autobetes-advice-footer:after,
.ui-icon-autobetes-settings:after,
.ui-icon-autobetes-settings-top-button:after,
.ui-icon-autobetes-settings-header-button:after,
.ui-icon-autobetes-about:after,
.ui-icon-autobetes-back:after,
.ui-icon-autobetes-synchronize:after,
.ui-icon-autobetes-edit:after,
.ui-icon-autobetes-fork:after,
.ui-icon-autobetes-run:after,
.ui-icon-autobetes-graph:after,
.ui-icon-autobetes-special:after,
.ui-icon-autobetes-history:after,
.ui-icon-autobetes-feedback:after,
.ui-icon-autobetes-logout:after,
.ui-icon-autobetes-home:after,
.ui-icon-autobetes-help:after,
.ui-icon-autobetes-bolus-calculator:after,
.ui-icon-autobetes-basal-insulin:after,
.ui-icon-autobetes-insulin-sensitivity:after,
.ui-icon-autobetes-carb-ratio:after,
.ui-icon-autobetes-hba1c:after,
.ui-icon-autobetes-autopilot:after,
.ui-icon-autobetes-edit2:after
{
	background-color: transparent /*{global-icon-color}*/;
}
